.row {
  margin-bottom: 1em;
}

body {
  padding: 3em;
}

table.stack {
  width: 100%
}

table.stack td,
table.stack th {
  padding: 0.5em;
}

table.stack td {
  background: #ECF0F1;
}

table.stack th {
  background: #BDC3C7;
}

.bar {
  background: #E74C3C;
  height: 1.8em;
}

.hasFloor .bar {
  height: 1.8em;
  background: #C0392B;
}

.barCell {
  padding: 0
}

#status {
  background: #ECF0F1;
}

.floorSpeaker {
  text-align: center;
}

.participant {
  margin: 0.5em 0 0 0.5em;
}

textarea {
  width: 100%;
  min-height: 40em;
}

.workflow-timeline {
  overflow-x: scroll;
}

.rule {
  margin-bottom: 1em;
}
